.menu-top {
    background-color: #800000; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.menu-bar {
    color: #ffffff;
    font-size: 18px;
    padding: 12px;
}

.menu-bar a {
    text-decoration: none;
    color: #ffffff;
    padding: 16px;
}

.sidebar {
    background-color: #3e3e3e; 
    width: 270px;
    position: fixed;
    left: -270px; 
    top: 60px;
    height: 100%;
    overflow-x: hidden;
    transition: left 0.5s; 
    z-index: 1;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.sidebar a:hover {
    background-color: #800000;
}