body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #673ab7;
    color: white;
    padding: 20px;
    
}

main {
    padding: 20px;
    text-align: center;
    margin-top: 60px; 
    margin-right: 240px; 
    box-sizing: border-box; 
}

main h2 {
    font-size: 1.2em; 
    margin-top: 20px;
}

main img {
    margin-right: 20px; 
}


.menu {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



.menu-vertical {
    background-color: #333;
    color: white;
    width: 160px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.menu-vertical ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-vertical li {
    margin-bottom: 10px;
}

.menu-vertical a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu-vertical a:hover {
    background-color: #673ab7;
}

.content {
    margin-left: 180px; 
}


input[type="text"], textarea, input[type="date"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

#add-button {
    background-color: #673ab7;
    color: white;
    cursor: pointer;
}

#add-button:hover {
    background-color: #531e99;
}

.note-divider {
    height: 2px;
    background-color: #673ab7; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-divider {
    height: 2px;
    background-color: #673ab7; 
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #673ab7;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}





